@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <center>
        <h1>Why is Peter Pan always flying?</h1>
        <i>Because he Neverlands.</i>


    </center>


</div>