<!DOCTYPE html>
    <html>

    <head>
        <title>Travel App</title>
        <meta charset="utf-8" />

        @*<link rel="stylesheet" href="css/site.css" />*@

    </head>

    <body>

        <div>
            <p> Trip Name: @ViewBag.Trip.Name </p>
            <p> Date Created: @ViewBag.Trip.DateCreated</p>
        </div>


        <div id="wrapper">
            <div id="main">
                <h1>MVC 6</h1>
                <p>Getting started..</p>

                <form>
                    <div>
                        <label>Date</label>
                        <input />
                    </div>
                    <div>
                        <label>Location</label>
                        <input />
                    </div>
                    <div><input type="submit" value="Add" /></div>
                </form>

            </div>
         
        </div>
    </body>

    </html>